body {
    background-color: black;
    text-align: center;

}
#maintop {
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 50px;
}
#toplinkmain {
    color: aquamarine;
    font-size: 16px;
}
#secondheader {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    font-size: 42px;
    color: white;
}
#secondparagraph {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 21px;
    color: gray;
}
#footer1 {
    text-align: right;
    color: gray;
}
#footer2 {
    text-align: right;
    color: gray;
}

