body {
    background-color: black;
    text-align: center;

}
#maintop {
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 50px;
}
#toplinkmain {
    color: aquamarine;
    font-size: 16px;
}